.idea/
cmake-build-debug/
23tree.o
23tree.o.dSYM:
stack.o
stack.o.dSYM:
Contents
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/DataStructures/v15/Browse.VC.opendb
.vs/DataStructures/v15/Browse.VC.db
.vs/DataStructures/v15/.suo
.vs/DataStructures/v15/ipch/AutoPCH/eed65561ddf99f2/MAIN.ipch
.vs/VSWorkspaceState.json
